/*
MCP Server with LangGraph

AI Agent with fine-grained authorization and observability - StreamableHTTP transport

API version: 2.8.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mcpclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// APIMetadataAPIService APIMetadataAPI service
type APIMetadataAPIService service

type ApiGetApiVersionMetadataRequest struct {
	ctx context.Context
	ApiService *APIMetadataAPIService
}

func (r ApiGetApiVersionMetadataRequest) Execute() (*APIVersionInfo, *http.Response, error) {
	return r.ApiService.GetApiVersionMetadataExecute(r)
}

/*
GetApiVersionMetadata Get API version information

Returns API version metadata for client compatibility checking.

    **Versioning Strategy:**
    - **Semantic Versioning**: MAJOR.MINOR.PATCH
    - **URL Versioning**: `/api/v1`, `/api/v2`, etc.
    - **Header Negotiation**: `X-API-Version: 1.0` (optional)
    - **Deprecation Policy**: 6-month sunset period for deprecated versions

    **Breaking Changes:**
    - Removing fields from responses
    - Changing field types
    - Removing endpoints
    - Changing authentication methods

    **Non-Breaking Changes:**
    - Adding new endpoints
    - Adding new optional fields to requests
    - Adding new fields to responses
    - Adding new query parameters (optional)

    Use this endpoint to:
    - Check current API version
    - Determine if your client is compatible
    - Find out when deprecated versions will be removed
    - Locate API documentation

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetApiVersionMetadataRequest
*/
func (a *APIMetadataAPIService) GetApiVersionMetadata(ctx context.Context) ApiGetApiVersionMetadataRequest {
	return ApiGetApiVersionMetadataRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return APIVersionInfo
func (a *APIMetadataAPIService) GetApiVersionMetadataExecute(r ApiGetApiVersionMetadataRequest) (*APIVersionInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *APIVersionInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "APIMetadataAPIService.GetApiVersionMetadata")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/version"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
